## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np
# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
0,0,Castro,BR,2022-05-14 22:07:16,-24.7911,-50.0119,56.84,86,99,1.99,overcast clouds
1,1,Black River,JM,2022-05-14 22:16:17,18.0264,-77.8487,83.88,66,13,15.59,few clouds
2,2,Busselton,AU,2022-05-14 22:04:06,-33.6500,115.3333,58.12,73,100,5.73,overcast clouds
3,3,Tazmalt,DZ,2022-05-14 22:16:18,36.3868,4.3989,71.56,63,10,2.01,clear sky
4,4,Piacenza,IT,2022-05-14 22:15:19,45.0468,9.6994,63.97,74,30,2.75,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
3,3,Tazmalt,DZ,2022-05-14 22:16:18,36.3868,4.3989,71.56,63,10,2.01,clear sky
25,25,Gweta,BW,2022-05-14 22:16:31,-20.1833,25.2333,70.09,26,0,8.90,clear sky
31,31,Arraial Do Cabo,BR,2022-05-14 22:05:50,-22.9661,-42.0278,73.26,73,0,9.22,clear sky
49,49,Jamestown,US,2022-05-14 22:07:28,42.0970,-79.2353,74.84,60,100,6.91,overcast clouds
68,68,Victoria,HK,2022-05-14 22:09:21,22.2855,114.1577,73.96,94,100,18.01,heavy intensity rain
76,76,Biloela,AU,2022-05-14 22:17:05,-24.4167,150.5000,70.02,83,0,1.70,clear sky
85,85,Sao Joao Da Barra,BR,2022-05-14 22:17:12,-21.6403,-41.0511,72.86,72,98,8.93,overcast clouds
97,97,Birao,CF,2022-05-14 22:17:21,10.2849,22.7882,72.86,85,100,6.98,heavy intensity rain
109,109,Namibe,AO,2022-05-14 22:14:57,-15.1961,12.1522,71.44,68,0,1.66,clear sky
110,110,Goderich,CA,2022-05-14 22:08:19,43.7501,-81.7165,70.92,73,5,4.63,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID            61
City               61
Country            61
Date               61
Lat                61
Lng                61
Max Temp           61
Humidity           61
Cloudiness         61
Wind Speed         61
Current Weather    61
dtype: int64

In [7]:
empty_values = preferred_cities_df == ''
empty_values.describe()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Weather
count,61,61,61,61,61,61,61,61,61,61,61
unique,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False
freq,61,61,61,61,61,61,61,61,61,61,61

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df
print("No Empty Rows")

No Empty Rows

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Weather", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
3,Tazmalt,DZ,71.56,clear sky,36.3868,4.3989,
25,Gweta,BW,70.09,clear sky,-20.1833,25.2333,
31,Arraial Do Cabo,BR,73.26,clear sky,-22.9661,-42.0278,
49,Jamestown,US,74.84,overcast clouds,42.0970,-79.2353,
68,Victoria,HK,73.96,heavy intensity rain,22.2855,114.1577,
76,Biloela,AU,70.02,clear sky,-24.4167,150.5000,
85,Sao Joao Da Barra,BR,72.86,overcast clouds,-21.6403,-41.0511,
97,Birao,CF,72.86,heavy intensity rain,10.2849,22.7882,
109,Namibe,AO,71.44,clear sky,-15.1961,12.1522,
110,Goderich,CA,70.92,clear sky,43.7501,-81.7165,

In [10]:
hotel_df.count()

City               61
Country            61
Max Temp           61
Current Weather    61
Lat                61
Lng                61
Hotel Name         61
dtype: int64

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}" 
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search.     
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
print("Search Complete")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Search Complete

In [12]:
# 7. Drop the rows where there is no Hotel Name.
no_hotel = hotel_df['Hotel Name']== ''
no_hotel.unique()

array([False,  True])

In [18]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
no_hotel = hotel_df ['Hotel Name']== ''
no_hotel.unique()

array([False])

In [19]:
clean_hotel_df.head()

,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
3,Tazmalt,DZ,71.56,clear sky,36.3868,4.3989,Hôtel Numédia
25,Gweta,BW,70.09,clear sky,-20.1833,25.2333,Gweta Lodge
31,Arraial Do Cabo,BR,73.26,clear sky,-22.9661,-42.0278,Pousada Porto Praia
49,Jamestown,US,74.84,overcast clouds,42.0970,-79.2353,Hampton Inn & Suites Jamestown
68,Victoria,HK,73.96,heavy intensity rain,22.2855,114.1577,Mini Central

In [20]:
clean_hotel_df.count()

City               53
Country            53
Max Temp           53
Current Weather    53
Lat                53
Lng                53
Hotel Name         53
dtype: int64

In [25]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [26]:
# 9. Using the template add city name, the country code, the weather description and
# maximum temperature for the city.
info_box_template = """
<dl>
<b>City</b><dd>{City}</dd>
<b>Country</b><dd>{Country}</dd>
<b>Current Weather</b><dd>{Current Weather}</dd>
<b>Max Temp</b><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [27]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))